body {
  background-color:#3498db;
  font-family: 'Aleo';
}

h1 {
  text-align:center;
  font-family: 'Alfa Slab One';
}

h2 {
  text-align:left;
  font-family: 'Audiowide';
}

.title-desc {
   text-align:center;
   font-style:italic;
   font-size:24px;
   font-variant: small-caps;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
}
